.footer {


  padding: 40px 20px 20px;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  margin: 10px;
}

.footer-section h3,
.footer-section h2 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
  cursor: pointer;
}

.social svg {
  font-size: 22px;
  margin-right: 10px;
  cursor: pointer;
}

.social svg:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
